{% load i18n %}

<div class="row panel panel-default">
    <div class="panel-heading" role="tab" id="headingColumnsSetting">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseColumnsSettings" aria-expanded="false" aria-controls="collapseColumnsSettings"
                class="btn btn-default btn-xs">{% trans 'Columns settings show/hide' %}</a>
        </h4>
    </div>
    <div id="collapseColumnsSettings" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingColumnsSetting">
        <div class="panel-body">
            {% for column in group_columns %} 
            <div class="col-sm-2">
                <div>{{ column.title }}</div>
                {% for field in column.fields %}
                <div class="form-check">
                    <label class="form-check-label">
                        <input name="cl" value="{{ field.field }}" type="checkbox" class="form-check-input" {% if field.checked %} checked{% endif %}> {{ field.title }}
                    </label>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>