{% load i18n %} {% load teamvalue %} {% load nbsp %} {% load nav_tags %}

{% if column.show %}
<th class="text-center">
    {{ column.title }} {% if column.search %}
    <div class="form-group-column form-group form-group-sm">
        <input type="text" name="q_{{key}}" id="{{key}}" {% if key|checkkey:search_query%} value="{{key|checkkey:search_query}}"
            {% endif %}class="params form-control" style="padding: 3px 3px;">
    </div>
    {% endif %} {% if column.round_search %}
    <div class="form-group-column form-group form-group-sm">
        <select name="q_{{key}}" class="params-select form-control" style="padding: 3px 3px;">
            <option value="None"></option>
            {% for result_round in result_round_list %}
            <option value="{{ result_round.slug }}" {% if result_round.slug == key|checkkey:search_query %} selected{% endif %}>{{ result_round.name }}</option>
            {% endfor %}
        </select>
    </div>
    {% endif %}

</th>
{% endif %}