{% load i18n %}

<div class="row panel panel-default">
    <!-- accordion head -->
    <div class="panel-heading" role="tab" id="headingOtherFilter">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOtherFilter" aria-expanded="false" aria-controls="collapseColumnsSettings"
                class="btn btn-default btn-xs">{% trans 'Other filters (show/hide)' %}</a>
        </h4>
    </div>

    <!-- accordion body -->
    <div id="collapseOtherFilter" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOtherFilter">
        <div class="panel-body">
            <div class="col-sm-2">
                <div class="form-group form-group-sm">
                    <label for="date_game">{% trans "date" %}</label>
                    <div class='input-group date' id='date_game'>
                        <input type='text' class="form-control" name="dg" {% if search_query.dg %} value="{{ search_query.dg }}" {%endif %}/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="time_game">{% trans "time" %}</label>
                    <div class='input-group date' id='time_game'>
                        <input type='text' class="form-control" name="tg" {% if search_query.tg %} value="{{ search_query.tg }}" {%endif %}/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group form-group-sm">
                    <label for="fighter_one">{% trans "fighter one" %}</label>
                    <select name="f1" class="form-control" id="fighter_one">
                        <option value="None"></option>
                        {% for fighter in fighter_list %}
                        <option value="{{ fighter.slug }}" {% if search_query.f1 == fighter.slug %} selected{% endif %}>
                            {% if LANGUAGE_CODE == 'ru' %}{{ fighter.name }}{% else %}{{ fighter.name_en }}{% endif %}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label for="fighter_two">{% trans "fighter two" %}</label>
                    <select name="f2" class="form-control" id="fighter_two">
                        <option value="None"></option>
                        {% for fighter in fighter_list %}
                        <option value="{{ fighter.slug }}" {% if search_query.f2 == fighter.slug %} selected{% endif %}>
                            {% if LANGUAGE_CODE == 'ru' %}{{ fighter.name }}{% else %}{{ fighter.name_en }}{% endif %}
                        </option>
                        {% endfor %}
                    </select>
                </div>

            </div>
            <div class="col-sm-2">
                <label>{% trans "score" %}</label>

                <div class="row" style="margin-left: 0px;">

                    <div class="form-group form-group-sm total-score">
                        <div class="input-group">
                            <select name="s1" class="form-control" id="score_one">
                                <option value="None"></option>
                                {% for score in score_list %}
                                <option value="{{ score }}" {% if search_query.s1 == score %} selected{% endif %}>{{ score }}</option>
                                {% endfor %}
                            </select>
                            <div class="input-group-addon fighter-transfer">
                                <span>:</span>
                            </div>
                            <select name="s2" class="form-control" id="score_two">
                                <option value="None"></option>
                                {% for score in score_list %}
                                <option value="{{ score }}" {% if search_query.s2 == score %} selected{% endif %}>{{ score }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <label>{% trans "total score from : to" %}</label>

                <div class="row" style="margin-left: 0px;">
                    <div class="form-group form-group-sm total-score">
                        <div class="input-group">
                            <select name="tsf" class="form-control total-score-from">
                                <option value="None"></option>
                                {% for total_score in total_score_list %}
                                <option value="{{ total_score }}" {% if search_query.tsf == total_score %} selected{% endif %}>
                                    {{ total_score }}
                                </option>
                                {% endfor %}
                            </select>
                            <div class="input-group-addon fighter-transfer">
                                <span>:</span>
                            </div>
                            <select name="tst" class="form-control total-score-to">
                                <option value="None"></option>
                                {% for total_score in total_score_list %}
                                <option value="{{ total_score }}" {% if search_query.tst == total_score %} selected{% endif %}>
                                    {{ total_score }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-2">
                <label style="margin-left: -15px;">{% trans "show total score" %}</label>
                
                <div class="row">
                    <div class="form-group form-group-sm total-score">
                        <div class="input-group">
                            <select name="sts" class="form-control total-score-from">
                                <option value="None"></option>
                                {% for total_score in total_score_list %}
                                <option value="{{ total_score }}" {% if show_total_score == total_score %} selected{% endif %}>
                                    {{ total_score }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check col-sm">
                        <label class="form-check-label">
                            <input name="rrta" value="1" type="checkbox" class="form-check-input" {% if result_round_total_account %} checked{% endif %}> {% trans "total account" %}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check col-sm">
                        <label class="form-check-label">
                            <input name="fex" value="1" type="checkbox" class="form-check-input" {% if filter_exactly %} checked{% endif %}> {% trans "filter exactly" %}
                        </label>
                    </div>
                </div>
                <label style="margin-left: -15px;">{% trans "highlight" %}</label>                
                <div class="row">
                    <div class="form-group form-group-sm total-score">
                        <div class="input-group">
                            <select name="hr" class="form-control total-score-from">
                                {% for key, highlight in highlight_round_list.items %}
                                <option value="{{ key }}" {% if highlight_round == key %} selected{% endif %}>
                                    {{ highlight }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <div class="col-sm" style="margin-top: 20px;">
                        <button type="submit" class="btn btn-primary">{% trans 'show' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>