{% extends "layout.html" %}
{% load i18n %}
{% load teamvalue %}
{% load nbsp %}
{% load nav_tags %}
{% load news_tags %}

{% block content %}

{% get_current_language as LANGUAGE_CODE %}

<form action="." method="GET">
    <div class="container-fluid">
        <div class="row panel panel-default">
            <div class="panel-body">
                <div class="col-sm-1">
                    <label for="inputPp">{% trans 'line per page' %}</label>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <select id="inputPp" name="pp" class="form-control">
                    {% for pp in pp_list %}
                    <option value="{{ pp }}"{% if cur_pp == pp %} selected{% endif %}>{{ pp }}</option>
                    {% endfor %}
                </select>
                    </div>
                    <button type="button" id="scaleDownButton" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-minus"></span></button>
                    <span>{% trans "scale table" %}</span>
                    <button type="button" id="scaleUpButton" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        {% nav_betmirror %}
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <a class="btn btn-danger" href="?query_string=clear">{% trans "clear" %}</a>
                        <button type="submit" class="btn btn-primary btnshow">{% trans 'show' %}</button>
                    </div>
                </div>
                <div class="col-sm-6">
                        {% alert_message %}
                </div>
            </div>
        </div>

        <!-- columns settings begin -->
        {% include "mortalkombat/stat/columns_settings.html" %}
        <!-- columns settings end -->
        <!-- other filters begin -->
        {% include "mortalkombat/stat/other_filters.html" %}
        <!-- other filters end -->
    </div>
    <table class="table table-bordered small-table small-font table-hover scale" data-scale="scale-stat">
        <thead>
            <tr>
                <th class="text-center">{% trans "date" %}</th>
                <th class="text-center">{% trans "time" %}</th>
                <th class="text-center"></th>
                <th class="text-center" style="width: 100px;">{% trans "fighter one" %}</th>
                <th class="text-center" style="width: 100px;">{% trans "fighter two" %}</th>
                <th class="text-center">{% trans "score" %}</th>
                <th class="text-center">{% trans "total score" %}</th>

                <!-- default_columns head begin -->
                {% for key, column in default_columns.items %}
                    {% include "mortalkombat/stat/mutable_columns_head_item.html" %}
                {% endfor %}
                <!-- default_columns head end -->
                <!-- mutable columns head begin -->
                {% for key, column in columns.items %}
                    {% include "mortalkombat/stat/mutable_columns_head_item.html" %}
                {% endfor %}
                <!-- mutable columns head end -->
                <!-- round head begin-->
                {% for key, column in round_columns.items %}
                    {% include "mortalkombat/stat/round_head_item.html" %}
                {% endfor %}
                <!-- round head end-->
            </tr>
        </thead>
        <tbody>
            {% for team in object_list %}
            <tr class="">
                <td class="text-center">{{ team.date_game|date:"d.m.Y " }}</td>
                <td class="text-center">{{ team.date_game|time:"H:i " }}</td>
                <td>
                    {% if search_query.f1 and search_query.f2 and search_query.f1 != 'None' and search_query.f2 != 'None' %}
                    <button class="btn btn-default filter-pair btn-xs" type="button" data-cancel="cancel" data-fighter-one="{{ team.fighter_first.slug}}" data-fighter-two="{{ team.fighter_second.slug }}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    {% else %}
                    <button class="btn btn-default filter-pair btn-xs" type="button" data-fighter-one="{{ team.fighter_first.slug}}" data-fighter-two="{{ team.fighter_second.slug }}">
                        <span class="glyphicon glyphicon-filter"></span>
                    </button>
                    {% endif %}
                </td>
                <td class="fighter text-center fighter-one {% if team.has_brutality_first %}brutality-color{% endif %}" data-fighter-slug="{{ team.fighter_first.slug }}">
                    {% if LANGUAGE_CODE == 'ru' %}{{ team.fighter_first.name|nbsp }}{% else %}{{ team.fighter_first.name_en|nbsp }}{% endif %}
                </td>
                <td class="fighter text-center fighter-two {% if team.has_brutality_second %}brutality-color{% endif %}" data-fighter-slug="{{ team.fighter_second.slug }}">
                    {% if LANGUAGE_CODE == 'ru' %}{{ team.fighter_second.name|nbsp }}{% else %}{{ team.fighter_second.name_en|nbsp }}{% endif %}
                </td>
                <td class="text-center{% if team.score_first == 0 or team.score_second == 0%} score-color{% endif %}{% if team.canceled and team.finish %} canceled-game{% endif %}">{{ team.score }}</td>
                <td class="text-center{% if show_total_score == team.total_score %} total-score-color{% endif %}">{{ team.total_score }}</td>
                <!-- default_columns value begin -->
                {% for key, column in default_columns.items %}
                    {% include "mortalkombat/stat/mutable_columns_value_item.html" %}
                {% endfor %}
                <!-- default_columns value end -->
                <!-- mutable columns value begin -->
                {% for key, column in columns.items %}
                    {% include "mortalkombat/stat/mutable_columns_value_item.html" %}
                {% endfor %}
                <!-- mutable columns value end -->
                <!-- round value begin -->
                {% for key, column in round_columns.items %}
                    {% include "mortalkombat/stat/round_value_item.html" %}
                {% endfor %}
                <!-- round value end -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% include "pagination.html" %}

{% endblock %}

{% block jsblock %}

<script>
    $('.fighter').click(function () {
        var parent = $(this).parent()
        var fighter_one = parent.find('.fighter-one').attr('data-fighter-slug');
        var fighter_two = parent.find('.fighter-two').attr('data-fighter-slug');
        console.log(fighter_one);
        console.log(fighter_two);

        if (fighter_one && fighter_two) {
            window.location.href="{% url 'stat-pair' %}?fighter_one=" + fighter_one + "&fighter_two=" + fighter_two
        }
    });

    $('.total-score-to').on('change', function (e) {
        to = $(e.target).val();
        from = $('.total-score-from').val();
        fromInt = parseInt(from);
        toInt = parseInt(to)

        if (fromInt != NaN && toInt != NaN) {
            if (toInt < fromInt) {
                $('.total-score-from').val(toInt);
            }
        }

        console.log($(e.target).val());
        console.log($('.total-score-from').val());
    });
    $('.total-score-from').on('change', function (e) {
        from = $(e.target).val();
        to = $('.total-score-to').val();
        fromInt = parseInt(from);
        toInt = parseInt(to)

        if (fromInt != NaN && toInt != NaN) {
            if (toInt < fromInt) {
                $('.total-score-to').val(fromInt);
            }
        }

        console.log($(e.target).val());
        console.log($('.total-score-from').val());
    });

    $('.filter-pair').click(function(e){
        var btn = $(e.currentTarget);

        var cancel = btn.attr('data-cancel');

        if (cancel == 'cancel') {
            var fighter_one = 'None';
            var fighter_two = 'None';

        } else {
            var fighter_one = btn.attr('data-fighter-one');
            var fighter_two = btn.attr('data-fighter-two');
        }

        $('select[name="f1"]').val(fighter_one);
        $('select[name="f2"]').val(fighter_two);
        $('.btnshow').click();
    });

</script>

{% endblock %}
