{% if alert_message %}
    {% if alert_message.level == 0 %}
        <div class="alert alert-info" role="alert">{{ alert_message.title }}</div>
    {% elif alert_message.level == 10 %}
        <div class="alert alert-warning" role="alert">{{ alert_message.title }}</div>
    {% endif %}
{% endif %}