{% extends "layout.html" %} {% load i18n %} {% load static %}

{% block content %} 

<div class="login-page-background">
    <img src="{% static 'img/9197.jpg' %}" alt="" class="login-page-background_stretch" />
</div>

{% if form.errors %}
    {% for key, error in form.errors.items %}
        <div class="alert alert-warning" role="alert">{{ error }}</div>
    {% endfor %}
{% endif %} 

{% if next %} 
    {% if user.is_authenticated %}
    <div class="alert alert-danger" role="alert">{% trans "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}</div>
    {% else %}
    <div class="alert alert-info" role="alert">{% trans 'Please login to see this page.' %}</div>
    {% endif %} 
{% endif %}
<div class="container">
    <form method="post" action="{% url 'login' %}" class="form-signin">
        {% csrf_token %}
        <h2 class="form-signin-heading">{% trans 'Please sign in' %}</h2>
        <label for="inputUsername" class="sr-only">{{ form.username.label_tag }}</label>
        <input type="text" name="username" id="inputUsername" maxlength="254" class="form-control" placeholder="{% trans 'username' %}" required autofocus>
        <label for="inputPassword" class="sr-only">{{ form.password.label_tag }}</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{% trans 'password' %}" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Sign in' %}</button>

        <input type="hidden" name="next" value="{{ next }}" />
        <br>
        <p><a href="{% url "request-access" %}" style="font-size:18px;">{% trans "Access request" %}</a></p>
    </form>
</div>
{% endblock %}