{% extends "layout.html" %} {% load i18n %} {% block content %}

<div class="alert alert-success" role="alert">{% trans "Thanks for spending some quality time with the Web site today." %}</div>

<p><a class="btn btn-primary" href="{% url 'login' %}?next=/">{% trans 'Log in again' %}</a></p>

{% endblock %}