{% extends "layout.html" %} {% load i18n %} {% load static %} {% block content %}

{% if form.errors %} 
{% for key, error in form.errors.items %}
<div class="alert alert-warning" role="alert">{{ error }}</div>
{% endfor %} 
{% endif %} 
<div class="container">
    <form method="post" action="{% url 'request-access' %}" class="form-reg">
        <h3>{% trans "Access request form" %}</h3>
        <!-- Запросы на доступ обрабатываются в течении нескольких часов. Письмо в доступом придет с почтового ящика info@kiberstat.com Если письмо не приходит долгое время, проверьте папку со спамом или добавьте почтовый ящик info@kiberstat.com в белый список. -->
        <p>{% trans "Access requests are processed within a few hours. The letter in the access will come from the mailbox info@kiberstat.com If the letter does not arrive for a long time, check the spam folder or add the mailbox info@kiberstat.com to the white list." %}</p>
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }} {% if field.field.required %}<span class="red">*</span>{% endif %} {{ field }} {% if field.help_text %}
            <p class="form-help-text">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        <p><span class="red">*</span> - {% trans "Required fields" %}</p>
        <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
    </form>
</div>
{% endblock %}