{% extends "layout.html" %} {% load i18n %} {% load teamvalue %} {% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
{% endblock %} {% block content %}
<form action="." method="GET">
    <div class="container-fluid">
        <div class="row panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group form-group-sm">
                            <label for="date_game">{% trans "date" %}</label>
                            <div class='input-group date' id='date_game'>
                                <input type='text' class="form-control" name="dg" {% if search_query.dg %} value="{{ search_query.dg }}" {%endif %}/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2" style="margin-top: 20px;">
                        <button type="submit" class="btn btn-primary">{% trans 'show' %}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="chartsTab">
        <li role="presentation" class="active"><a href="#b-chart" aria-controls="b-chart" role="tab" data-toggle="tab">{% trans "B-chart" %}</a></li>
        <li role="presentation"><a href="#f-chart" aria-controls="f-chart" role="tab" data-toggle="tab">{% trans "F-chart" %}</a></li>
        <li role="presentation"><a href="#r-chart" aria-controls="r-chart" role="tab" data-toggle="tab">{% trans "R-chart" %}</a></li>
        <li role="presentation"><a href="#ts-chart" aria-controls="ts-chart" role="tab" data-toggle="tab">{% trans "TS-chart" %}</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="b-chart" style="width:2000px; height: 500px;">
            <canvas id="bChart"></canvas>
        </div>
        <div role="tabpanel" class="tab-pane" id="f-chart" style="width:2000px; height: 500px;">
            <canvas id="fChart"></canvas>
        </div>
        <div role="tabpanel" class="tab-pane" id="r-chart" style="width:2000px; height: 500px;">
            <canvas id="rChart"></canvas>
        </div>
        <div role="tabpanel" class="tab-pane" id="ts-chart" style="width:2000px; height: 500px;">
            <canvas id="tsChart"></canvas>
        </div>
    </div>
</div>


{% endblock %}

{% block jsblock %}
<script>
    var ctxR = document.getElementById('rChart').getContext('2d');
    ctxR.canvas.width = 2000;
    ctxR.canvas.height = 500;
    var ctxB = document.getElementById('bChart').getContext('2d');
    ctxB.canvas.width = 2000;
    ctxB.canvas.height = 500;
    var ctxF = document.getElementById('fChart').getContext('2d');
    ctxF.canvas.width = 2000;
    ctxF.canvas.height = 500;
    var ctxTs = document.getElementById('tsChart').getContext('2d');
    ctxTs.canvas.width = 2000;
    ctxTs.canvas.height = 500;
    var rLabel = '{% trans "R-chart" %}';
    var bLabel = '{% trans "B-chart" %}';
    var fLabel = '{% trans "F-chart" %}';
    var tsLabel = '{% trans "TS-chart" %}';

    var labels =[{% for t in result.t %}"{{t|time:"H:i"}}",{% endfor %}];

    var rData = [{% for r in result.r %}{{r|formatnumber2}},{% endfor %}];
    var bData = [{% for b in result.b %}{{b|formatnumber2}},{% endfor %}];
    var fData = [{% for f in result.f %}{{f|formatnumber2}},{% endfor %}];
    var tsData = [{% for f in result.ts %}{{f}},{% endfor %}];

    var options = {
            plugins: {
                datalabels: {
                    backgroundColor: function(context) {
                        return context.dataset.borderColor;
                    },
                    borderRadius: 4,
                    color: 'black',
                    font: {
                        weight: 'bold',
                        size: '9',
                    },
                    // formatter: Math.round
                }
            },

            responsive: true,
            tooltips: {
                enabled: false,
                display: false,
                // mode: 'index',
                // intersect: false,
            },
            hover: {
                display: false,
                // mode: 'nearest',
                // intersect: false
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                      labelString: '{% trans "Time" %}'
                    },

                }],
                yAxes: [{
                    stacked: true,
                    display: true,
                    scaleLabel: {
                        display: true,
                      labelString: '{% trans "Value" %}'
                    }
                }]
            }
    };

    var rChart = new Chart(ctxR, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: rLabel,
                borderColor: '#FF3784',
                data: rData,
            }]
        },

        // Configuration options go here
        options: options
    });
    var bChart = new Chart(ctxB, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: bLabel,
                borderColor: '#36A2EB',
                data: bData,
            }]
        },

        // Configuration options go here
        options: options
    });
    var fChart = new Chart(ctxF, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: fLabel,
                borderColor: '#4BC0C0',
                data: fData,
            }]
        },

        // Configuration options go here
        options: options
    });
    var tsChart = new Chart(ctxTs, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: tsLabel,
                borderColor: '#FFA500',
                data: tsData,
            }]
        },

        // Configuration options go here
        options: options
    });
</script>
{% endblock %}
