{% extends "layout.html" %} {% load i18n %} {% block content %} {% get_current_language as LANGUAGE_CODE %}
<form action="." method="GET">
    <div class="container-fluid">
        <div class="row panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div style="float:left">{% trans "fighter one" %}</div>
                        <div style="float:right">{% trans "fighter two" %}</div>
                        <div style="clear: both"></div>
                        <div class="form-group form-group-sm">
                            <div class="input-group">
                                <select name="fighter_one" class="form-control" id="fighter_one">
                                    <option value="None"></option>
                                    {% for fighter in fighter_list %}
                                    <option value="{{ fighter.slug }}"{% if search_query.fighter_one == fighter.slug %} selected{% endif %}>
                                    {% if LANGUAGE_CODE == 'ru' %}{{ fighter.name }}{% else %}{{ fighter.name_en }}{% endif %}
                                    </option>
                                    {% endfor %}
                                </select>
                                <div class="input-group-addon fighter-transfer"><span class="glyphicon glyphicon-transfer"></span></span></div>
                                <select name="fighter_two" class="form-control" id="fighter_two">
                                    <option value="None"></option>
                                    {% for fighter in fighter_list %}
                                    <option value="{{ fighter.slug }}"{% if search_query.fighter_two == fighter.slug %} selected{% endif %}>
                                        {% if LANGUAGE_CODE == 'ru' %}{{ fighter.name }}{% else %}{{ fighter.name_en }}{% endif %}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button type="button" id="scaleDownButton" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                        <span>{% trans "scale table" %}</span>
                        <button type="button" id="scaleUpButton" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-primary show-button">{% trans 'show' %}</button>
                    </div>
                </div>
            </div>
        </div>
        {% if result %}
        <div class="row panel panel-default">
            <div class="panel-heading">
                {% trans 'total game' %}: {{ total }}
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover scale" data-scale="scale-stat-pair">
                    <thead>
                        <tr>
                            <th class='text-center gray_col'>{% trans 'round' %}</th>
                            <th class='text-center ggreen'>{% trans 'total all' %}</th>
                            <th class='text-center ggreen'>{% trans 'total percent' %}</th>
                            <th class='text-center win_col'>{% trans 'first win' %}</th>
                            <th class='text-center win_col'>{% trans 'second win' %}</th>
                            <th class='text-center light_green'>{% trans 'total fatality' %}</th>
                            <th class='text-center light_green'>{% trans 'total fatality percent' %}</th>
                            <th class='text-center light_green'>{% trans 'fatality first win' %}</th>
                            <th class='text-center light_green'>{% trans 'fatality first win percent' %}</th>
                            <th class='text-center light_green'>{% trans 'fatality second win' %}</th>
                            <th class='text-center light_green'>{% trans 'fatality second win percent' %}</th>
                            <th class='text-center light_coral'>{% trans 'total brutality' %}</th>
                            <th class='text-center light_coral'>{% trans 'total brutality percent' %}</th>
                            <th class='text-center light_coral'>{% trans 'brutality first win' %}</th>
                            <th class='text-center light_coral'>{% trans 'brutality first win percent' %}</th>
                            <th class='text-center light_coral'>{% trans 'brutality second win' %}</th>
                            <th class='text-center light_coral'>{% trans 'brutality second win percent' %}</th>
                            <th class='text-center light_blue'>{% trans 'total without finishing' %}</th>
                            <th class='text-center light_blue'>{% trans 'total without finishing percent' %}</th>
                            <th class='text-center light_blue'>{% trans 'without finishing first win' %}</th>
                            <th class='text-center light_blue'>{% trans 'without finishing first win percent' %}</th>
                            <th class='text-center light_blue'>{% trans 'without finishing second win' %}</th>
                            <th class='text-center light_blue'>{% trans 'without finishing second win percent' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for game_round, data in result.items %}
                        <tr>
                            <td class='text-center'>{{ game_round }}</td>
                            <td class='text-center'>{{ data.total_win }}</td>
                            <td class='text-center {{ data.total_percent_css }}'>{{ data.total_percent }}</td>
                            <td class='text-center'>{{ data.total_win_first }}</td>
                            <td class='text-center'>{{ data.total_win_second }}</td>
                            <td class='text-center gray_col'>{{ data.total_fatality }}</td>
                            <td class='text-center {{ data.total_fatality_percent_css }}'>{{ data.total_fatality_percent }}</td>
                            <td class='text-center light_green2'>{{ data.total_fatality_first }}</td>
                            <td class='text-center {{ data.total_fatality_percent_first_css }}'>{{ data.total_fatality_percent_first }}</td>
                            <td class='text-center light_coral2'>{{ data.total_fatality_second }}</td>
                            <td class='text-center {{ data.total_fatality_percent_second_css }}'>{{ data.total_fatality_percent_second }}</td>
                            <td class='text-center gray_col'>{{ data.total_brutality }}</td>
                            <td class='text-center {{ data.total_brutality_percent_css }}'>{{ data.total_brutality_percent }}</td>
                            <td class='text-center light_green2'>{{ data.total_brutality_first }}</td>
                            <td class='text-center {{ data.total_brutality_percent_first_css }}'>{{ data.total_brutality_percent_first }}</td>
                            <td class='text-center light_coral2'>{{ data.total_brutality_second }}</td>
                            <td class='text-center {{ data.total_brutality_percent_second_css }}'>{{ data.total_brutality_percent_second }}</td>
                            <td class='text-center gray_col'>{{ data.total_without_finishing }}</td>
                            <td class='text-center {{ data.total_without_finishing_percent_css }}'>{{ data.total_without_finishing_percent }}</td>
                            <td class='text-center light_green2'>{{ data.total_without_finishing_first }}</td>
                            <td class='text-center {{ data.total_without_finishing_percent_first_css }}'>{{ data.total_without_finishing_percent_first }}</td>
                            <td class='text-center light_coral2'>{{ data.total_without_finishing_second }}</td>
                            <td class='text-center {{ data.total_without_finishing_percent_second_css }}'>{{ data.total_without_finishing_percent_second }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td class="text-center" colspan="5">{% trans "general indicators of the pair" %}</td>
                            <td class="text-center" colspan="3">{% trans "% - F-total:" %}</td>
                            <td class="text-center light_green" colspan="3">{{ total_all.f }}%</td>
                            <td class="text-center" colspan="3">{% trans "% - B-total:" %}</td>
                            <td class="text-center light_coral" colspan="3">{{ total_all.b }}%</td>
                            <td class="text-center" colspan="3">{% trans "% - R-total:" %}</td>
                            <td class="text-center light_blue" colspan="3">{{ total_all.r }}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
</form>
{% endblock %}

{% block jsblock %}
<script>
    $('.fighter-transfer').click(function() {
        var fighter_one = $('select[name="fighter_one"]').val();
        var fighter_two = $('select[name="fighter_two"]').val();
        $('select[name="fighter_one"]').val(fighter_two);
        $('select[name="fighter_two"]').val(fighter_one);
        $('.show-button').click()
    })
</script>
{% endblock %}