{% load static %} {% load i18n %} {% load teamvalue %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_game as current_game %}

{% if user.is_authenticated%}
<div class="video-player">
    <div id="video-player" style="height: 100%;width: 100%">
        <object 
            id="BridgeMovie" 
            width="100%" 
            height="100%" 
            type="application/x-shockwave-flash" 
            data="{% static 'swf/VideoPlayerSportstream.swf' %}">
            <param name="menu" value="false">
            <param name="wmode" value="window">
            <param name="allowFullScreen" value="true">
            <param name="AllowScriptAccess" value="always">
            <param name="flashvars" value="ZonePlayGameId=xgame{{current_game.video_id}}&scaleMode=scaleAll&userID=0&videoID=xgame{{current_game.video_id}}&matchName=sportstream365.com&startImmediately=true&gameId=xgame{{current_game.video_id}}&lng={{ LANGUAGE_CODE }}&sport=0&ref=36">
        </object>
    </div>
</div>

<script>
    var showVideoPlayer = localStorage.getItem('showVideoPlayer');

    if (showVideoPlayer == 1) {
        $(".video-player").show();        
        $('.button-player').removeClass('btn-success');
        $('.button-player').addClass('btn-danger');
    }

    $('.button-player').click(function () {
        $(".video-player").toggle();

        if ($(".video-player").is(":visible")) {
            $('.button-player').removeClass('btn-success');
            $('.button-player').addClass('btn-danger');
            localStorage.setItem('showVideoPlayer', 1)
        } else {
            $('.button-player').removeClass('btn-danger');
            $('.button-player').addClass('btn-success');
            localStorage.setItem('showVideoPlayer', 0)
        }

    })
</script>
{% endif %}