{% extends "base.html" %} 
{% block body %} 
{% include "nav.html" %}

<div class="container-fluid">
    {% block content %}
    <div class="starter-template">
        <h1>Шаблон по умолчанию</h1>
        <p class="lead">Для его изменения необходимо создать шаблон и подключить layout.html к нему.</p>
    </div>
    {% endblock %}
</div>

{% endblock %}