{% load i18n %} {% load nav_tags %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">Kiberstat</div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% nav_mainmenu %} {% nav_usermenu %}
        </div>
    </div>
</nav>