{% comment %}
<ul class="nav navbar-nav">
  {% for group, item_list in menu.items %}
    {% if item_list %}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        {{ group }} <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        {% for item in item_list %}
        <li><a href="{% url item.url_name %}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endfor %}
</ul>
{% endcomment %}
<ul class="nav navbar-nav">
  {% for group, item_list in menu.items %} {% if item_list %}
      {% for item in item_list %}
      <li>
        <a href="{% url item.url_name %}">{{ item.title }}</a>
      </li>
      {% endfor %}
    {% endif %} {% endfor %}
</ul>