{% load i18n %}
<ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated%}
    <li class="navbar-form">
        <button class="btn btn-success button-player">Online</button>
    </li>
    {% endif %}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        {% if user.is_authenticated%}
          <span>{{ user.username }}</span>
        {% else %}
          <span>{% trans 'Anonymous' %}</span>
        {% endif %}
        <span class="caret"></span>
      </a>
        <ul class="dropdown-menu" style="width: 180px;">
  <li>
    <form class="select_language" action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        <select name="language" class="form-control" onchange="this.form.submit()">
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    {% for language in languages %}
      <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
      {{ language.name_local }} ({{ language.code }})
      </option>
    {% endfor %}
  </select>
    </form>
  </li>
          <li role="separator" class="divider"></li>
    {% if user.is_staff %}
          <li><a href="/admin/">{% trans "admin" %}</a></li>
    {% endif %} 
    {% if user.is_authenticated %}
          <li role="separator" class="divider"></li>
          <li><a href="{% url 'logout' %}">{% trans "logout" %}</a></li>
    {% endif %}
    {% if not user.is_authenticated %}
          <li role="separator" class="divider"></li>
          <li><a href="{% url 'login' %}?next=/">{% trans "login" %}</a></li>
    {% endif %}
        </ul>
    </li>
</ul>
