{% load i18n %} {% if is_paginated %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?{{query_string}}&page={{ page_obj.previous_page_number }}">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    {% endif %}

    <span class="current">
            {% trans 'page' %}: <strong>{{ page_obj.number }}</strong> {% trans 'of' %} <strong>{{ page_obj.paginator.num_pages }}</strong>
        </span> {% if page_obj.has_next %}
    <a href="?{{query_string}}&page={{ page_obj.next_page_number }}">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a> {% endif %}
    </span>
</div>
{% endif %}