.select_language {
    padding: 3px 20px;
}

.small-font {
    font-size: 10px;
}

.small-table>tbody>tr>td,
.small-table>tbody>tr>th,
.small-table>tfoot>tr>td,
.small-table>tfoot>tr>th,
.small-table>thead>tr>td,
.small-table>thead>tr>th {
    padding: 5px 3px;
}

.table>thead>tr>th {
    vertical-align: top;
}

.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse .navbar-nav>li>a{
    font-size: 16px;
}
.starter-template {
    padding: 1rem 1.5rem;
    text-align: center;
}

#time_game {
    width: 95px;
}

#fighter_one {
    /* width: 150px; */
}

#fighter_two {
    /* width: 150px; */
}

/* #score_one {
    width: 50px;
    padding: 0px;
}

#score_two {
    width: 50px;
    padding: 0px;
} */

.fighter:hover, .fighter-transfer:hover{
    cursor: pointer;
}

.params {
    min-width: 45px;
    padding: 3px 3px;
}

.params-select {
    min-width: 57px;
    padding: 3px 3px;
}


/* Login form */

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/* Don't copy */

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* dye param */

.win-color {
    background-color: aquamarine;
}

.brutality-color,
.win_col {
    background-color: yellowgreen;
}

.fatality-color {
    background-color: coral;
}

.score-color {
    background-color: rgb(255, 230, 0);
}

.canceled-game {
    background-color: rgb(255, 0, 0);
}

.win-first-round {
    background-color: #E6D1ED;
}

.gray_col {
    background-color: silver;
}

.ggreen {
    background-color: rgb(209, 209, 114);
}

.light_green {
    background-color: rgb(202, 255, 116);
}

.light_green2 {
    background-color: rgb(229, 255, 183);
}

.light_coral {
    background-color: rgb(241, 150, 117)
}

.light_coral2 {
    background-color: rgb(253, 229, 221)
}

.light_blue {
    background-color: rgb(150, 213, 250);
}

.color_total_percent_5,
.color_total_fatality_percent_first_5,
.color_total_fatality_percent_second_5,
.color_total_brutality_percent_first_5,
.color_total_brutality_percent_second_5,
.color_total_without_finishing_percent_first_5,
.color_total_without_finishing_percent_second_5 {
    background-color: #00CC66;
    color: #FFFFFF;
    font-weight: bold;
}

.color_total_percent_4,
.color_total_fatality_percent_first_4,
.color_total_fatality_percent_second_4,
.color_total_brutality_percent_first_4,
.color_total_brutality_percent_second_4,
.color_total_without_finishing_percent_first_4,
.color_total_without_finishing_percent_second_4 {
    background-color: #33FF99;
    font-weight: bold;
}

.color_total_percent_3,
.color_total_fatality_percent_first_3,
.color_total_fatality_percent_second_3,
.color_total_brutality_percent_first_3,
.color_total_brutality_percent_second_3,
.color_total_without_finishing_percent_first_3,
.color_total_without_finishing_percent_second_3 {
    background-color: #99FFCC;
    font-weight: bold;
}

.color_total_percent_2,
.color_total_fatality_percent_first_2,
.color_total_fatality_percent_second_2,
.color_total_brutality_percent_first_2,
.color_total_brutality_percent_second_2,
.color_total_without_finishing_percent_first_2,
.color_total_without_finishing_percent_second_2 {
    background-color: #CCFFE5;
    font-weight: bold;
}

.color_total_percent_1,
.color_total_fatality_percent_first_1,
.color_total_fatality_percent_second_1,
.color_total_brutality_percent_first_1,
.color_total_brutality_percent_second_1,
.color_total_without_finishing_percent_first_1,
.color_total_without_finishing_percent_second_1 {
    background-color: #FFFFFF;
    font-weight: bold;
}

.color_total_fatality_percent_5,
.color_total_brutality_percent_5,
.color_total_without_finishing_percent_5 {
    background-color: #0066CC;
    color: #FFFFFF;
    font-weight: bold;
}

.color_total_fatality_percent_4,
.color_total_brutality_percent_4,
.color_total_without_finishing_percent_4 {
    background-color: #3399FF;
    color: #FFFFFF;
    font-weight: bold;
}

.color_total_fatality_percent_3,
.color_total_brutality_percent_3,
.color_total_without_finishing_percent_3 {
    background-color: #99CCFF;
    font-weight: bold;
}

.color_total_fatality_percent_2,
.color_total_brutality_percent_2,
.color_total_without_finishing_percent_2 {
    background-color: #CCE5FF;
    font-weight: bold;
}

.color_total_fatality_percent_1,
.color_total_brutality_percent_1,
.color_total_without_finishing_percent_1 {
    background-color: #FFFFFF;
    font-weight: bold;
}

.video-player {
    display: none;
    position: fixed;
    top: 55px;
    right: 0;
    z-index: 1000;
    cursor: pointer;
    width: 350px;
    height: 210px;
    background-color: black;
}

/* login page */

.login-page-background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
}

.login-page-background_stretch {
    width:100%;
    /* height:100%; */
}

.canvas-size {
    width: 2000px;
    height: 500px;
}

.total-score{
    width: 140px;
    /* margin-left: 15px; */
}

.total-score-color{
    background-color:#00CC66;
}

.outsider_win {
    background-color: forestgreen;
    color: #FFFFFF;
}

.round_win_first{
    background-color: rgb(247, 246, 162);
}
.round_win_second{
    background-color: rgb(255, 203, 194);
}

.form-help-text{
    font-size: 10px;
    color: silver;
}
.red {
    color: red;
}
.form-reg{
    width: 400px;
    margin: auto;
}
.form-group-column{
    margin-bottom: 0px;
}